<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %} ALKOMA-JR {% endblock %}</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    {% set icoImg = "build/img/ico-aj.png" %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ icoImg }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ icoImg }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ icoImg }}">

    {% block stylesheets %}
        {% set vendorCssPath = "build/css/vendor.min.css" %}
        {% set themeCssPath = "build/css/theme.min.css" %}
        <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
        <link rel="stylesheet" media="screen" href="{{ vendorCssPath }}">
        <!-- Main Theme Styles + Bootstrap-->
        <link rel="stylesheet" media="screen" href="{{ themeCssPath }}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.23/af-2.3.5/b-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/kt-2.6.0/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css"/>
    {% endblock %}

</head>
<body>

{# {{ include('layouts/partials/_flashMessages.html.twig') }} #}

{% block body %}{% endblock %}

{% block javascripts %}
    {% set vendorJsPath = "build/js/vendor.min.js" %}
    {% set themeJsPath = "build/js/theme.min.js" %}
    {% set modernizrJsPath = "build/js/modernizr.min.js" %}
    <!-- Modernizr-->
    <script src="{{ modernizrJsPath }}"></script>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="{{ vendorJsPath }}"></script>
    <script src="{{ themeJsPath }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.23/af-2.3.5/b-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.8/kt-2.6.0/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>
{% endblock %}

</body>
</html>