{% extends 'layouts/base.html.twig' %}

{% set heroBg = "build/img/hero-bg.png" %}
{% set portfolio_link = "portfolio?page=1" %}
{% set portfolioSingle = "portfolio-single?" %}

{% block body %}
    {% block header %}{{ include('layouts/partials/_navbar.html.twig', {'postActiveClass': 'active'}) }}{% endblock %}
    <!-- Page Title-->
    {% set home = "/alkoma_blog/" %}
    <div class="d-flex p-3 bg-secondary" aria-label="Page title" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container text-left align-self-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ home }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item"><a href="{{ portfolio_link }}">Portfolio</a>
                    </li>
                </ol>
            </nav>
            <h1 class="page-title-heading"><u>Portfolio</u></h1>
        </div>
    </div>
    <div class="container pb-5 mb-3">
        <!-- Grid-->
        <div class="isotope-grid filter-grid cols-3">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>
            <!-- Portfolio Item-->
            {% for p in portfolio %}
                <div class="grid-item mobile-apps mb-30">
                <div class="portfolio-card">
                    <a class="portfolio-thumb" href="{{ portfolioSingle~"id="~p.id }}">
                        <img src="{{ "public/build/img/"~p.image~".jpg" }}" alt="Portfolio Thumbnail"/>
                    </a>
                    <div class="portfolio-card-body">
                        <div class="portfolio-meta">
                            <span class="mr-3"><i class="fe-icon-user"></i>{{ p.client }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pt-2">
            <!-- Pagination-->
            <nav class="pagination"><a class="prev-btn" href="{{ portfolio_link~"page="~(currentPage-1) }}"><i class="fe-icon-chevron-left"></i>Précédent</a>
                <ul class="pages">
                    {% for i in 1..numberOfPages %}
                        {% if i == currentPage %}
                            <li class="d-none d-sm-inline-block active"><a href="{{ portfolio_link~"page="~i }}">{{ i }}</a></li>
                        {% else %}
                            <li class="d-none d-sm-inline-block"><a href="{{ portfolio_link~"page="~i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul><a class="next-btn" href="{{ portfolio_link~"page="~(currentPage+1) }}">Suivant<i class="fe-icon-chevron-right"></i></a>
            </nav>
        </div>
    </div>
    {% block footer %}{{ include('layouts/partials/_footer.html.twig') }}{% endblock %}
{% endblock %}