{% set logoUrl = "build/img/logo_alkoma.png" %}
{% set fsOverlay = "build/img/fs-overlay-bg.png" %}
{% set home = "/alkoma_blog/" %}
{% set logout = "logout" %}

<!-- Google Tag Manager (noscript)-->
<noscript>
    <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-PVV9F7F" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
</noscript>
<!-- Navbar: Ghost-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="navbar-ghost navbar-floating navbar-sticky">
    <div class="container text-center">
        {% if user.id is not null and user.role == "USER" %}
            <a class="search-trigger" href="{{ logout }}" data-toggle="tooltip" data-placement="top" title="Se déconnecter">
                <i class="fe-icon-log-out"></i>{{ user.emailAddress }}
                <span></span>
            </a>
        {% endif %}
        {% if user.role == "USER" or user.id is null %}
            <a class="menu-trigger" href="#fs-menu" data-toggle="fullscreen-overlay">
                <span>Menu</span>
                <i class="fe-icon-menu"></i>
            </a>
        {% endif %}
        <a class="navbar-brand d-inline-block" href="{{ home }}"><img src="{{ logoUrl }}" alt="ALKOMA-JR"/></a>
    </div>
</header>
<!-- Full Screen Menu-->
<div class="fs-overlay-wrapper" id="fs-menu" style="background-image: url({{ fsOverlay }});"><span class="fs-overlay-close"><i class="fe-icon-x"></i></span>
    <div class="fs-overlay-inner">
        <div class="fs-overlay-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        {% set home = "/alkoma_blog/" %}
                        {% set portfolio = "portfolio?page=1" %}
                        {% set post = "posts?page=1" %}
                        {% set login = "connexion" %}
                        <ul class="list-unstyled">
                            <li class="mb-0"><a class="dropdown-item lead py-2" href="{{ home }}">Accueil</a></li>
                            <li class="mb-0"><a class="dropdown-item lead py-2" href="{{ portfolio }}">Portfolio</a></li>
                            <li class="mb-0"><a class="dropdown-item lead py-2" href="{{ post }}">Blog</a></li>
                            {% if user.id is null %}
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="{{ login }}">Connexion</a></li>
                            {% else %}
                                <li class="mb-0"><a class="dropdown-item lead py-2" href="{{ logout }}">Se déconnecter</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block pt-3">
                        <h6>Contacts</h6>
                        <ul class="list-icon mb-4 pb-2">
                            <li><i class="fe-icon-map-pin text-muted"></i>{{ me.address }}</li>
                            <li><i class="fe-icon-phone text-muted"></i>{{ me.phoneNumber }}</li>
                            <li><i class="fe-icon-mail text-muted"></i>{{ me.emailAddress }}</li>
                        </ul>
                        <h6 class="pb-2">Social</h6>
                        <a onclick="window.open(this); return false;" class="social-btn sb-style-6 sb-facebook" href="{{ me.facebookLink }}"><i class="socicon-facebook"></i></a>
                        <a onclick="window.open(this); return false;" class="social-btn sb-style-6 sb-instagram" href="{{ me.instagramLink }}"><i class="socicon-instagram"></i></a>
                        <a onclick="window.open(this); return false;" class="social-btn sb-style-6 sb-linkedin" href="{{ me.linkedinLink }}"><i class="socicon-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>