{{ formOpen|raw }}
<div class="row">
    <div class="col-md-4 col-sm-6 form-group">
        {{ field1|raw }}
    </div>
    <div class="col-md-4 col-sm-6 form-group">
        {{ field2|raw }}
    </div>
    <div class="col-md-4 form-group">
        {{ field3|raw }}
    </div>
</div>
<div class="form-group">
    {{ field4|raw }}
</div>
<div class="text-center">
    <button class="btn btn-style-4 btn-icon-left btn-gradient" type="submit">
        <i class="fe-icon-mail text-md"></i>Envoyer
    </button>
</div>
{{ formClose|raw }}