{{ messageForm['begin']|raw }}
<div class="row">
    <div class="col-md-4 col-sm-6 form-group">
        {{ messageForm['name']|raw }}
    </div>
    <div class="col-md-4 col-sm-6 form-group">
        {{ messageForm['email']|raw }}
    </div>
    <div class="col-md-4 form-group">
        {{ messageForm['subject']|raw }}
    </div>
</div>
<div class="form-group">
    {{ messageForm['message']|raw }}
</div>
<div class="text-center">
    <button class="btn btn-style-4 btn-icon-left btn-gradient" type="submit">
        <i class="fe-icon-mail text-md"></i>Envoyer
    </button>
</div>
{{ messageForm['end']|raw }}