{{ meForm['begin']|raw }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ meForm['name']|raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ meForm['occupation']|raw }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ meForm['address']|raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ meForm['phone']|raw }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ meForm['email']|raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ meForm['fbkLink']|raw }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ meForm['iLink']|raw }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ meForm['lLink']|raw }}
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr class="mt-2 mb-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <button class="btn btn-primary" type="submit">
                Modifier
            </button>
        </div>
    </div>
{{ meForm['end']|raw }}