{{ portfolioForm['begin']|raw }}
<div class="col-md-12">
    <div class="form-group">
        {{ portfolioForm['title']|raw }}
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        {{ portfolioForm['client']|raw }}
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        {{ portfolioForm['objective']|raw }}
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        {{ portfolioForm['description']|raw }}
    </div>
</div>
<div class="col-12">
    <hr class="mt-2 mb-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <button class="btn btn-primary" type="submit">
            {% if request == "add" %}Ajouter{% else %}Modifier{% endif %}
        </button>
    </div>
</div>
{{ portfolioForm['end']|raw }}