{% extends 'layouts/base.html.twig' %}

{% set heroBg = "build/img/hero-bg.png" %}
{% set messageShow = "messages-show?" %}

{% block body %}
    {% block header %}{{ include('layouts/partials/_navbar.html.twig') }}{% endblock %}
    <!-- Page Title-->
    {% set home = "me" %}
    {% set message = "messages-index" %}
    <div class="d-flex p-3" aria-label="Page title" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container text-left align-self-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ home }}">Mes informations</a>
                    </li>
                    <li class="breadcrumb-item"><a href="{{ message }}">Mes messages</a>
                    </li>
                </ol>
            </nav>
            <h1 class="page-title-heading"><u>Mes messages</u></h1>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container mb-4">
        <div class="row">
            {{ include('layouts/partials/_sidebar.html.twig', {'messageActiveClass': 'active'}) }}
            <!-- Orders Table-->
            <div class="col-lg-8 pb-5">
                <div class="table-responsive">
                    <table id="example" class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>Expéditeur</th>
                            <th>Date d'envoi</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for message in messagesList %}
                                <tr>
                                    <td><a class="navi-link{% if message.isRead == 0 %}active{% endif %}" href="#" data-toggle="modal">{{ message.name }}</a></td>
                                    <td>{{ message.sendDate|date('Y-m-d H:i:s') }}</td>
                                    <td><span class="badge badge-danger m-0">{{ message.emailAddress }}</span></td>
                                    <td class="text-center">
                                        <a href="{{ messageShow~"id="~message.id }}" style="text-decoration: none">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "bLengthChange": false,
                "bFilter": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json",
                }
            });
        } );
    </script>

    {% block footer %}{{ include('layouts/partials/_footer.html.twig') }}{% endblock %}
{% endblock %}